<div>
    
    <hr>

     <h1>Un Poco de Historia</h1>

    <p>Tengo 25 años, naci en la ciudad de Resistencia, Chaco. Pero me crie en un pequeño pueblo del interior del Chaco
        llamado Hermoso Campo.
        A la edad de 6 años comenzo mi pasion por las computadoras cuando mi un pariente me mostro una computadoras, desde
        ese momento no me separe mas de la computadora haciendo crecer mi amor poco a poco. 
        Comence a programar cuando en 2014 logre ingresar a Igenieria en Sistemas en la UTN de Resistencia, Chaco; aunque era un 
        lenguaje viejo llamado Phascal emprendi el viaje en el mundo de la programacion aprendiendoi poco a poco otros lenguajes como
        C++ y Java. No fue hasta el 2018 que al ingresar en el Informatorio del Chaco, donde logre un salto al desarroollo Front-End.
        En el Informatorio mi cerebro se abrio al mundo de la programacion, ya que resultaba ser un curso intensivo
        que intentaba simular el trabajo en un empresa. Veias cada punto del desarrollo de una apliacion desde las planing, pasando
        por las daylis y finalizando un sprint con las retros.
        Algunas de las cosas que aprendi son las metodologias agiles Scrum, el desarrollo de aplicaciones Web, simulaciones de Demos y Rettos. 
        
    
     </p>
</div>
