<div>
    <header class="header content">
        <div class="header-video" >
            <video src="../../assets/video/mountains_relax.mp4" autoplay loop></video>
        </div>
        <div class="header-overlay"></div>
        <div class="header-content">
            <h1>Portafolio</h1>
            <p>Hola soy Franco Silva y soy desarrollador Front-End</p>
            <a href="https://github.com/Patoncho" target="_blank" class="btn">Mi Github  <i class="fab fa-github"></i></a>
            
        </div>
    </header>
    
</div>