footer{
    text-align: center;
}
h3{
    font-family: 'Anton', sans-serif;
font-family: 'Carter One', cursive;
}
button{
    margin: 20px 10px;
    font-size: 17px;
    background-color: #264653;
    color: #fff;
    transition-duration: 1;
}
button.github:hover{
    background-color: #9e0059;
    color: #fff;
}
